{% extends 'ud.email.html.twig' %}
{% block body %}

<h5>Hello,</h5>

<p>To reset your password, please click on this link within the next 24 hours:
<br/><a href='{{domain}}/newpassword?reset={{reset}}'>{{domain}}/newpassword?reset={{reset}}</a>
<br/>

<p>Many Thanks</p>

<p>{{company}}</p>

{% endblock %}
