{% extends 'base2.html.twig' %}



{% block body %}

	<div class="col-lg-8 offset-2  pl-3">
		<div class="row ml-3">
			<div class="col-sm-12 mt-3">
				<h2>Apply for: {{ title }}</h2>
				<div class='formnotes'>If you already have an account, you can log on here:</div>
			</div>
			<div class="col-sm-12 mt-3">
				{% if login_error %}
					<div class='alert alert-warning'>{{ login_error }}</div>
				{% endif %}
				{{ form_start(formLogin) }}
				{{ form_widget(formLogin) }}
				{{ form_end(formLogin) }}
			</div>
		</div>
		<div class="row ml-3">
			<div class="col-sm-12">
				<br />
			</div>
		</div>
		<div class="row mb-3 mt-3 ml-3">
			<div class="col-sm-12 ">
				<div class='formnotes mb-3'><strong>Otherwise, please complete the sign-up form below:</strong></div>
			</div>
			<div class="col-sm-12">
				{% if duplicate_email_error %}
					<div class='alert alert-warning'>This email address has already been registered</div>
				{% endif %}

				{{ form_start(form) }}

				{{ form_end(form) }}

			</div>



		</div>

	</div>


{% endblock %}
{% block customJavascripts %}
	<script src='/js/getpostcode.js'></script>
	<script>
	 $(function() {
		 $('#apply_postcode').addClass('datepicker');
		 $('#apply_postcode').css('display','inline-block');
		 $('#apply_postcode').postcodelookup('pcode', ['apply_line1','apply_line2','apply_town','apply_county']);
	 })
	</script>
{% endblock %}

