{% extends 'base2.html.twig' %}

{% block content %}
    <div class="container col-md-6">
        <p>Please enter your new password..</p>

        {{ form_start(form) }}
        <div class="col-md-12">
            <p>{{ form_row(form.password.first, {'attr':{'placeholder':'Password'}}) }}</p>
        </div>
        <div class="col-md-12">
            <p>{{ form_row(form.password.second, {'attr':{'placeholder':'Confirm Password'}}) }}</p>
        </div>
        <div class="col-md-12">
            <p>{{ form_widget(form.submit, {'attr':{'class':'btn btn-success'}}) }}</p>
        </div>

            {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}